
 {{!-- <div class="col d-flex p-2 bd-highlight" id="list-burgers">
    <h2 class="burger-title text-center">Burgers Available</h2><br>
       <div class="available-burgers">
          {{#each burgers}}
          {{#unless this.devoured}}
          {{> burgers/burger-block devoured=false}}
          {{/unless}}
          {{/each}}
            </div>
        </div> --}}
  <div class="container">
    

  <div class="row">
    <div class="col-sm-6" style="background-color:yellow;">
      <h2 class="burger-title text-center">Burgers Available</h2><br>
      <div class="available-burgers">
          {{#each burgers}}
          {{#unless this.devoured}}
          {{> burgers/burger-block devoured=false}}
          {{/unless}}
          {{/each}}
    </div>
  </div>

{{!-- <div class="col d-flex p-2 bd-highlight" id="list-devoured">
    <h2 class="burger-title text-center">Burgers Devoured</h2><br>
     <div class="devoured-burgers">
          {{#each burgers}}
          {{#if this.devoured}}
          {{> burgers/burger-block devoured=true}}
          {{/if}}
          {{/each}}
      </div>
  </div> --}}

  <div class="col-sm-6" style="background-color:pink;">
      <h2 class="burger-title text-center">Burgers Devoured</h2><br>
     <div class="devoured-burgers">
          {{#each burgers}}
          {{#if this.devoured}}
          {{> burgers/burger-block devoured=true}}
          {{/if}}
          {{/each}}
    </div>
  </div>
</div>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="name">
  </div>

  <button type="submit" class="create-form">Add Burger</button>
</form>
