/* body {
  background-color: tan
} */

h1, h2 {
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  position: relative;
}

li {
    font-family: 'BioRhyme', serif;
    position: relative;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-form {
    padding: 5px;
    margin: 5px;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  .main {
    background-image: url("../img/Cute-Summer-Burger.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    position: absolute;
    opacity: 0.9;
}

.container {
  padding: 80px;
  border: 2px solid black;
  border-style: dotted;
  border-radius: 25px;
}

.first {
  background: rgba(230, 166, 47, 0.5); 
  padding: 10px; 
  text-align: justify;
  border-radius: 25px;
  border: 2px solid black;
  border-style: dotted;
  position: relative;
}

.second {
  background: rgba(230, 166, 47, 0.5); 
  padding: 10px; 
  text-align: justify;
  border-radius: 25px;
  border: 2px solid black;
  border-style: dotted;
  font-family: 'BioRhyme', serif;
  position: relative
}

#bu {
  border-radius: 1rem;
}